<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Improved Interface Matrices</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 800px;
            margin: auto;
        }

        h2 {
            color: #007bff;
            margin-bottom: 30px;
            text-align: center;
        }

        .btn-group {
            display: flex;
            flex-direction: column;
        }

        .btn-primary {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <h2>Matrices Interface</h2>
    <div class="btn-group">
        <a href="bandedemibandinf" class="btn btn-primary">Matrice bande de largeur totale 2m + 1 × Matrice demi-bande inférieure de largeur m + 1</a>
        <a href="bandinfsup" class="btn btn-primary">Matrice demi-bande inférieure de largeur s + 1 × Matrice demi-bande supérieure de largeur r + 1</a>
        <a href="bandeinverse" class="btn btn-primary">Matrice bande de largeur totale 2m + 1 × Matrice inverse</a>
        <a href="bandetranspose" class="btn btn-primary">Matrice bande de largeur totale 2m + 1 × Matrice transposée</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>